flask/
*.pyc
dev
api/apidata.db
yarn.lock
yarn-error.log
*.psd
env/
env__/
.vscode/symbols.json
api/db.sqlite3
.idea/
.idea/*
.env

# Specific files from your image
.idea/api-server-flask.iml
.idea/misc.xml
.idea/*
